<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucd.team4.Project">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AndroidProject"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:label="Runr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RunHistoryActivity" android:label="Run History">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".Running"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            android:label="@string/title_activity_running">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RunDetail">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onSensorChange" android:label="Pedometer">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserProfile" android:label="User Profile">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true"
            android:label="LocationTracker">
            <intent-filter>
                <action android:name="ucd.team4.Project.LOCATIONSERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
